@model IEnumerable<Artemis_Issue_Tracker.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/DropdownMenu.css" asp-append-version="true" />

<h1 class="text-light">Projects</h1>

<p>
    <a class="text-light" asp-action="Create">Create New</a>
</p>

<table class="table text-light">
    <thead>
        <tr class="table-header-hover">
            <th>
                <label class="text-light">Title</label>
            </th>
            <th>
                <label class="text-light">Summary</label>
            </th>
            <th>
                <label class="text-light">Creation Date</label>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-row-hover">
            <td class="pointer">
                <a class="text-light link-block underline-hover" asp-area="" asp-controller="Issues" asp-action="Index">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td class="pointer">
                <a class="text-light link-block" asp-area="" asp-controller="Issues" asp-action="Index">@Html.DisplayFor(modelItem => item.Summary)</a>
            </td>
            <td class="pointer">
                <a class="text-light link-block" asp-area="" asp-controller="Issues" asp-action="Index">@Html.DisplayFor(modelItem => item.CreationDate, "DateTime")</a>
            </td>
            <td>
                <div class="dropdown">
                    <div class="dropdown-button" id="dropdown-button @item.Id" onclick="displayDropdown('dropdown-button @item.Id', 'project-dropdown-menu', '@item.Id')">
                        <svg width="24px" height="24px" viewBox="0 0 24 24">
                            <g fill="currentColor" fill-rule="evenodd">
                                <circle cx="5" cy="12" r="2"></circle>
                                <circle cx="12" cy="12" r="2"></circle>
                                <circle cx="19" cy="12" r="2"></circle>
                            </g>
                        </svg>
                    </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="~/js/DropdownMenu.js" asp-append-version="true"></script>